@model ShoesStore_agforl.Models.HoaDon
@using ShoesStore_agforl.Models
@{
    ViewBag.Title = "Chitietdonhang";
    Layout = "~/Views/Shared/_LayoutQLSP.cshtml";
}



<div>

    <dl class="dl-horizontal">
        <dt>
            Mã hóa đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHoaDon)
        </dd>
    
        <dt>
            Mã khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.MaKhachHang)
        </dd>
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKhachHang)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.DiaChi)
        </dd>

        <dt>
            Số điện thoại :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.SoDienThoai)
        </dd>
        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>

        <dt>
            Ngày đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            Ngày giao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>
     
        <dt>
            Tình trạng giao hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiaoHang)
        </dd>
        <dt>
            Đã thanh toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Dondathang")
</p>
