@model ShoesStore_agforl.Models.Footer

@{
    ViewBag.Title = "Footer";
    Layout = "~/Views/Shared/_LayoutQLSP.cshtml";
}

<div>
    <h4>Footer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slogan)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-danger" type="submit"><a href="@Url.Action("SuaFooter", "Admin", new { id = Model.FooterID }) ">Chỉnh sửa </a></button>
    <button class="btn btn-success" type="submit"><a href="@Url.Action("Footer", "Admin") ">Back to list </a></button>
</p>
