@model ShoesStore_agforl.Models.SanPham

@{
    ViewBag.Title = "Xoagiay";
    Layout = "~/Views/Shared/_LayoutQLSP.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa sản phẩm?</h3><hr />
<div>

    <dl class="dl-horizontal">
        <dt>
           Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd><hr />

        <dt>
         Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd><hr />

        <dt>
            Chi tiết
        </dt>

        <dd>
          <p> @Html.DisplayFor(model => model.ChiTiet)</p> 
        </dd><hr />

        <dt>
            Số lượng còn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongCon)
        </dd><hr />

        <dt>
            Ngày lập sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLaySP)
        </dd><hr />

        <dt>
           Hính ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/images/shoes/"+ Model.Anh)" width="120px" />        
        </dd><hr />

        <dt>
          Tên Loại
          </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai.TenLoai)
        </dd><hr />

        <dt>
           Tên hãng 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang.TenHangSanPham)
        </dd><hr />

       

        <dt>
           Đặc biệt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DacBiet)
        </dd><hr />

        <dt>
           Thanh toán trực tuyến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thanhtoantructuyen)
        </dd><hr />

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">


            <button class="btn btn-danger" type="submit">Xóa</button>
            <button class="btn btn-success" type="submit"><a href="@Url.Action("Giay", "Admin") ">Back to list </a></button>

            
        </div>
    }
</div>
