
<div class="footer_agileinfo_w3">
    <div class="footer_inner_info_w3ls_agileits">
        <div class="col-md-3 footer-left">
            <h2><a href="index.html"><span>A</span>gforl Shoes </a></h2>
            <p>Một đôi giày tốt sẽ đưa bạn đến những nơi tuyệt vời!</p>
            <ul class="social-nav model-3d-0 footer-social social two">
                <li>
                    <a href="https://www.facebook.com/agforl" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/agforlclassic" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right">
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Our <span>Information</span> </h4>
                    <ul>
                        <li><a href="@Url.Action("Index","Shoes")">Home</a></li>
                        <li><a href="@Url.Action("About","Shoes")">About</a></li>                       
                        <li><a href="@Url.Action("contact","Shoes")">Contact us</a></li>
                        <li><a href="@Url.Action("Index","Shop")">Shop Now</a></li>


                        

                    </ul>
                </div>

                @Html.Action("Footer", "Shoes")
                <div class="col-md-3 sign-gd flickr-post">
                    <h4>Instagram <span>Posts</span></h4>
                    <ul>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a1.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a2.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a5.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a2.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a3.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a4.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a1.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a2.jpg" alt=" " class="img-responsive" /></a></li>
                        <li><a href="https://www.facebook.com/agforl"><img src="~/images/a5.jpg" alt=" " class="img-responsive" /></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       
        <div class="clearfix"></div>
        
       
      

        </div> 
    </div>
</div>
