@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>
@using ShoesStore_agforl.Models

@{
    ViewBag.Title = "SpTheohang";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="product-sec1">
    <!--/mens-->
    @foreach (var giay in Model)
    {
        <div class="col-md-4 product-men">
            <div class="product-shoe-info shoe">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        <img src="~/images/shoes/@giay.Anh" alt="@giay.TenSanPham">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="@Url.Action("Index", "Details", new {id =giay.MaSanPham})" class="link-product-add-cart">Quick View</a>
                            </div>
                        </div>
                        <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product">
                        <h4>
                            <a href="single.html">@giay.TenSanPham</a>
                        </h4>
                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    <div class="grid-price ">
                                        <span class="money ">@giay.Gia</span>
                                    </div>
                                </div>
                                <ul class="stars">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="shoe single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="shoe_item" value="@giay.TenSanPham">
                                    <input type="hidden" name="amount" value="@giay.Gia">
                                    <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                    <a href="" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- //mens -->
    <div class="clearfix"></div>

</div>
<hr />
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

